.cfcs{
  text-align: center;
}

.card {
  position: relative;
  width: 300px;
  height: 200px;
  background: linear-gradient(-45deg, #000000 0%, #ffffff 100% );
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover {
  transform: rotate(-5deg) scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 100%;
  height: auto;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover .card__content {
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 1;
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}

.card:hover svg {
  scale: 0;
  transform: rotate(-45deg);
}


:root {
  --background-color: #fff;
  --btn-color: #0987f2;
  --btn-text-color: #fff;
  --project-card-bg: #ffffff00;
  --text-color: #222;
  --form-text-color: #555;
  --footer-text-color: #888;
}

[data-theme='dark'] {
  --background-color: #222;
  --btn-color: #fff;
  --btn-text-color: #222;
  --project-card-bg: #fff;
  --text-color: #fff;
  --form-text-color: #fff;
  --footer-text-color: #bbb;
}

body {
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  margin: 0 auto 60px;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

h1,
h2,
h3,
p {
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

h2,
h3,
p {
  font-family: 'Roboto Mono', monospace;
}

h1,
h2 {
  text-transform: uppercase;
}

h2,
h3 {
  font-size: 20px;
}

h1 {
  font-family: 'Rubik', sans-serif;
  font-size: 32px;
}

p {
  font-size: 16px;
  font-weight: 300;
}

.sectionTitle {
  margin-bottom: 30px;
}
.button-spc {
  --bg: #000;
  --hover-bg: #ffffff;
  --hover-text: #000;
  color: #fff;
  cursor: pointer;
  border: 1px solid var(--bg);
  border-color: #fff;
  border-radius: 4px;
  padding: 0.8em 2em;
  background: var(--bg);
  transition: 0.2s;
}

.button-spc:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem, -0.25rem);
  background: var(--hover-bg);
  box-shadow: 0.25rem 0.25rem var(--bg);
}

.button-spc:active {
  transform: translate(0);
  box-shadow: none;
}

.hover {
  cursor: pointer;
}

.wrapper {
  width: 90%;
  max-width: 1536px;
  margin-inline: auto;
  position: relative;
  height: 100px;
  margin-top: 5rem;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

.item {
  width: 200px;
  height: 100px;
  background-color: transparent;
  border-radius: 6px;
  position: absolute;
  left: max(calc(200px * 11), 100%);
  animation-name: scrollLeft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.item1 {
  animation-delay: calc(30s / 11 * (11 - 1) * -1);
}

.item2 {
  animation-delay: calc(30s / 11 * (11 - 2) * -1);
}

.item3 {
  animation-delay: calc(30s / 11 * (11 - 3) * -1);
}

.item4 {
  animation-delay: calc(30s / 11 * (11 - 4) * -1);
}

.item5 {
  animation-delay: calc(30s / 11 * (11 - 5) * -1);
}

.item6 {
  animation-delay: calc(30s / 11 * (11 - 6) * -1);
}

.item7 {
  animation-delay: calc(30s / 11 * (11 - 7) * -1);
}

.item8 {
  animation-delay: calc(30s / 11 * (11 - 8) * -1);
}

.item9 {
  animation-delay: calc(30s / 11 * (11 - 9) * -1);
}

.item10 {
  animation-delay: calc(30s / 11 * (11 - 10) * -1);
}

.item11 {
  animation-delay: calc(30s / 11 * (11 - 11) * -1);
}

.skills{
  text-align: center;
}

@media (width >= 800px) {
  #root {
    gap: 100px;
  }
  h1 {
    font-size: 40px;
  }
  h2,
  h3 {
    font-size: 24px;
  }
  p {
    font-size: 20px;
  }

  .sectionTitle {
    margin-bottom: 60px;
  }

  @media (width >= 1400px) {
    #root {
      gap: 200px;
    }
    h1 {
      font-size: 48px;
    }

    .sectionTitle {
      margin-bottom: 75px;
    }
  }
}

